.cart-modal
  .cart-modal__overlay
  .cart-modal__container
    .cart-modal__header
      span.cart-modal__title Корзина
      button.cart-modal__close(type="button" aria-label="Закрыть") ×
    .cart-modal__body
      // Здесь будет список товаров
      ul.cart-modal__list
        //- Пример товара
        // li.cart-modal__item
        //   img.cart-modal__img(src="" alt="")
        //   .cart-modal__info
        //     .cart-modal__item-title Название товара
        //     .cart-modal__item-price 6000 ₽
        //   .cart-modal__controls
        //     button.cart-modal__minus -
        //     span.cart-modal__count 2
        //     button.cart-modal__plus +
        //   button.cart-modal__remove ×
    .cart-modal__footer
      .cart-modal__total
        span Итого
        span.cart-modal__sum 0 ₽
      button.cart-modal__order Оформить заказ 