.catalog-layout
  .catalog-layout__sidebar
    include ../Filters/Filters.pug
  .catalog-layout__main
    include ../Sort/Sort.pug
    .catalog-list
      // Карточки товаров будут рендериться сюда через JS 