//- .product-card
//-   .product-card__img-wrap
//-     img.product-card__img(src=img alt=title)
//-   .product-card__info
//-     .product-card__title= title
//-     div.product-card__bottom
//-       .product-card__price= price + ' ₽'
//-       button.product-card__add(type="button") + 