extends ./Layout.pug

block content
  .catalog-mobile
    .catalog-mobile__breadcrumbs
      a.breadcrumbs__link(href="#") ГЛАВНАЯ
      span.breadcrumbs__sep ·
      a.breadcrumbs__link(href="#") ПРОДУКТЫ
      span.breadcrumbs__sep ·
      span.breadcrumbs__current КРАСКИ
    h1.catalog-mobile__title Краски
  include ../components/Banner/Banner.pug
  .catalog-layout
    .catalog-layout__sidebar
      include ../components/Filters/Filters.pug
    .catalog-layout__main
      include ../components/Sort/Sort.pug
      .catalog-list
        