nav.navbar
  .navbar__container
    a.navbar__logo(href="#") COLORS®
    ul.navbar__menu
      li.navbar__item: a.navbar__link(href="#") ПРОДУКТЫ
      li.navbar__item: a.navbar__link(href="#") ЦВЕТА
      li.navbar__item: a.navbar__link(href="#") ВДОХНОВЕНИЕ
      li.navbar__item: a.navbar__link(href="#") СОВЕТЫ
      li.navbar__item: a.navbar__link(href="#") НАЙТИ МАГАЗИН
    button.navbar__burger(type="button" aria-label="Открыть меню")
      span
      span
      span 