.sort
  .sort__dropdown
    button.sort__toggle(type="button") Сначала дорогие
    ul.sort__list
      li.sort__item.sort__item--active Сначала дорогие
      li.sort__item Сначала недорогие
      li.sort__item Сначала популярные
      li.sort__item Сначала новые 